@model IEnumerable<KickerShop.Models.MostProfitableProducts_Result>

@{
    ViewBag.Title = "Query3Answear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Najbardzije dochodowy towar</h2>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
        </tr>
    }

</table>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        @Html.ActionLink("Back to List", "Index")
    </div>
}
</div>
