@model KickerShop.Models.Orders

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Order</h2>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<p>
    <div class="text-danger">
        @ViewBag.Error
    </div>
</p>
@using (Html.BeginForm("Create", "Orders", FormMethod.Post, new { id = "form1" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Client_id, "Client:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @KickerShop.Global.GlobalVariables.CurrentUserName
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DeliveryType_id, "Delivery type:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("DeliveryType_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DeliveryType_id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PayType_id, "Payment type:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PayType_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PayType_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <h4>Order items</h4>
    <div id="partial">@{Html.RenderAction("OrderDetails");}</div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Add next product to order" id="Add" class="btn btn-default" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create order" class="btn btn-default" />
        </div>
    </div>
</div>
}
@section scripts{
    <script>
        var i = 1;
        $("#Add").click(function () {
            $.ajax({
                url: '/Orders/OrderDetails',
                data: { i: i },
                success: function (data) {
                    $("#partial").append(data);
                }
            })
            i++;
        })
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
